.header {
  width: 100%;
  max-width: 100%;
  background-color: #df7400;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;

  &__name {
    margin-left: 7%;
  }
}

.basket-list {
  margin-left: 60%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px;

  &__icon {
    width: 45%;
    height: 45%;
  }

  &__number {
  }
}

.favourite-list {
  margin-left: 2%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__icon {
    width: 45%;
    height: 45%;
  }

  &__number {
  }
}
