.cart-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;

  &__total-sum{
    margin-top: 2%;
    font-size:1.9vw;
    text-align: right;
    border-top: 1px solid black;
  }

  &__message{
    margin-top: 15%;
    text-align: center;
    font-size:3vw;
    font-weight:bold;
  }
}

