@import './components/index.scss';
@import './pages/index.scss';

body{
  width: 100%;
  max-width: 100%;
  background-color: #9aacb7;
}

.body-container{
  position: relative;
}

.modal-container{
  position: fixed;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container{
  padding-left: 12%;
  padding-right: 12%;
}

.favourite-container{
  padding-left: 12%;
  padding-right: 12%;
}

