@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');

.all-body {
    width: 100%;
}

.body-section {
    background-image: url(../img/main-fon.png);
    width: 100%;
    height: 770px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-font {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: white;
}

.header-section {
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-block img {
    margin-left: 79px;
}

.logo-text {
    margin-left: 79px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}

.logo-text:hover {
    color: #01813F;
}

.right-block {
    margin-right: 79px;
}

.svg-cartoon {
    gap: 24px;
}

/*
.svg-cartoon:hover {
    fill: green;
}*/

.svg-cartoon:hover {
    background-color: #01813F;
}

.right-block-text-all {
    display: inline-block;
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.9)
}

.right-block-text2:hover {
    color: #01813F;
}

.right-block-text4:hover {
    color: #01813F;
}

.svg-cartoon {
    margin-right: 25px;
}

.main-form {
    margin-top: 54px;
    width: 444px;
    height: 605px;
    background-color: white;
}

.inside-form {
    width: 322px;
    height: 514px;
    background-color: slategray;
}

.green-block {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.inside-form-text {
    display: flex;
    justify-content: flex-start;
    margin-top: 31px;
}

.text-sign-up {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 43px;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.text-log-in {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 216px;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    cursor: pointer;
}

.text-log-in:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.inside-form-button {
    margin-top: 15px;
    gap: 4px;
}

.btn-facebook {
    background-color: #305DB8;
    padding: 12px 22px 12px 17px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-facebook:hover {
    background-color: #022263;
    cursor: pointer;
}

.btn-google {
    background-color: #DF4A32;
    padding: 15px 27px 14px 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-google:hover {
    background-color: #AB1F09;
    cursor: pointer;
}

.image-facebook {
    padding-right: 18px;
    border-right: 1px solid cornflowerblue;
    margin-right: 18px;
}

.image-google {
    padding-right: 7px;
    border-right: 1px solid red;
    margin-right: 30px;
}

.inside-form-line {
    margin-top: 31px;
}

.form-line {
    width: 150px;
    height: 1px;
    background-color: #F2F2F2;
}

.line-or-line {
    padding-left: 5px;
    padding-right: 5px;
    color: #848484;
}

.inside-form-main {
    margin-top: 12px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 61px;
    margin-right: 61px;
}

.form-input {
    width: 322px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.form-input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.inside-form-footer {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
}

.default-checkbox {
    margin: 0;
    cursor: pointer;
}

.all-footer-text {
    cursor: pointer;
}

.footer-text1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: black;
}

.footer-text2 {
    color: rgba(60, 184, 120, 0.8);
}

.footer-text2:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.btn-create-account {
    margin-top: 20px;
    background-color: rgba(60, 184, 120, 0.8);
    padding: 16px 110px;
    border-radius: 4px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

.btn-create-account:hover {
    background-color: #01813F;
    cursor: pointer;
}

.custom-checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    background-color: white;
    margin-right: 8px;
    margin-top: -3px;
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    position: relative;
}

.checkbox {
    margin-left: 62px;
}

.form-checkbox .default-checkbox {
    position: absolute;
    opacity: 0;
    width: 250px;
    height: 15px;
}

.form-checkbox .default-checkbox:checked + .custom-checkbox {
    background-image: url("../img/Vector 1.svg");
    background-size: contain;
    background-position: center;
}

