@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  @include wrapper;

  &__burger-menu {
    display: none;

    .nav{
      position: absolute;
      background: #F5F5F5;
      top: 8%;
      left: 54%;
      width: 37%;

      &__item{
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        padding-left: 6px;
        color: $body-primary-text-color;

        &--main-item{
          color: #57A4A4;
        }
      }

      &__item:hover{
        background: #E5E5E5;
      }
    }
  }

  .container-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 23px;

    &__btn-menu {
      background-image: url('../img/menu-burger.svg');
      background-position: center;
      background-size: contain;
      width: 44px;
      height: 37px;
      background-color: black;
      position: relative;
    }

    &__list {
      display: none;
    }
  }

  .container-photo {
    margin-top: 23px;

    &__intro-photo {
      width: 100%;
    }
  }


  @include tablet {

    .container-menu {
      padding-left: 60px;
      padding-right: 60px;
      justify-content: center;

      &__btn-menu {
        display: none;
      }

      &__container-menu__btn-menu{
        display: none;
      }

      &__burger-menu {
        display: none;
      }

      .navigation-list {
        width: 100%;
        list-style: none;
        display:flex;
        justify-content: space-between;
        flex-direction: row;

        &__item {
          padding: 8px 7px;
          font-size: 10px;
          line-height: 22px;
          letter-spacing: 1.1px;
          text-transform: uppercase;
          color: $body-primary-text-color;

          &--main-item{
            color: #57A4A4;
          }
        }
      }
    }
  }


  @include desktop {

    .container-menu {
      padding-left: 110px;
      padding-right: 110px;
      justify-content: center;

      &__btn-menu {
        display: none;
      }

      &__container-menu__btn-menu{
        display: none;
      }

      .navigation-list {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        &__item {
          padding: 17px 7px;
          font-size: 10px;
          line-height: 22px;
          letter-spacing: 1.1px;
          text-transform: uppercase;
          color: $body-primary-text-color;

          &--main-item {
            color: #57A4A4;
          }
        }
      }
    }
  }
}




.header__burger-menu.open {
  display: block;
}

.container-menu__btn-menu.change {
  background-image: url('../img/menu-closed.svg');
  background-position: center;
  background-size: contain;
}










