@import './components/index.scss';

.grey-background{
  background-color: grey;
}

.body-container{
  max-width: 100%;
  height: 1000px;
}

.button-container{
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  z-index:1;
}

.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
}









