@mixin flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wrapper{
  padding-left: 9%;
  padding-right: 9%;
}

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}