$body-theme-color: white;
$footer-theme-color: rgba(0, 0, 0,);
$body-primary-text-color: #4E4E4E;
$body-secondary-text-color: #B9B9B9;


$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
