.buy-modal {
  background-color: #f3ede1;
  border-radius: 5%;
  padding-left: 2%;
  padding-right: 2%;

  &__container {
    margin-top: 3%;
    margin-left: 3%;
  }
}

.information {
  font-size: 1.7vw;

  &__label {
    display: block;
  }

  &__name-field {
    font-size: 125%;
    color: #000000;
    width: 95%;
  }

  &__error {
    font-size: 2vw;
    color: red;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 5%;

  &__btn {
    font-size: 1.5vw;
    font-weight: bold;
    color: #df7400;
    margin-bottom: 5%;
    padding: 2% 3%;
    border-top: 1px solid black;
    cursor: pointer;
    border-radius: 5%;
  }

  &__btn:hover {
    font-style: italic;
    color: #f3ede1;
    background-color: #df7400;
  }
}
