.cardlist-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
  padding-bottom: 30%;

  &__loading {
    font-size: 4vw;
    margin-left: 133%;
  }
}

.cartcard-box{
  margin-top: -3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
