.cart-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;

  &__buy-modal {
    position: absolute;
  }

  &__total-sum {
    margin-top: 2%;
    font-size: 1.9vw;
    text-align: right;
    border-top: 1px solid black;
  }

  &__buy-btn {
    margin-left: 37%;
    padding: 2% 4%;
    border-radius: 5%;
    cursor: pointer;
    font-size: 2vw;
    font-weight: bold;
  }

  &__message {
    margin-top: 15%;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
  }
}
