.modal {
  background-color: red;
  height: 20%;
  width: 40%;
  color: white;
  font-weight: bold;
  margin-top: 10%;

  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(103, 7, 7);

    &__title {
      padding-left: 5px;
      font-weight: bold;
      font-size: 28px;
    }

    &__button {
      font-size: 27px;
      border: none;
      background-color: rgb(103, 7, 7);
      color: white;
    }
  }

  .main {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    gap: 5%;

    &__text {
      display: block;
      text-align: center;
    }

    &__button {
      margin-top: 10px;
      padding: 10px 30px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 13%;
    }
  }
}
