@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-logo {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.text-white {
    color: white;
}

.header-section-text {
    color: #000000;
    margin-top: 63px;
    margin-left: 100px;
}

.main-list-text {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
}

.header-section-text-span {
    color: deepskyblue;
}

.header-section-list {
    background-color: #35444F;
    margin: 38px 100px 1px 100px;
}


.header-section-list li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 25px 33px 20px;
}


.main-aside {
    width: 340px;
    height: 399px;
    border: 1px solid #000000;
}


.main-aside p {
    padding: 27px 70px 27px 38px;

}

.main-aside-item {
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #495863;
}

.main-section {
    align-items: flex-start;
    margin-top: 48px;
}

.image {
    display: flex;
    padding: 75px 250px;
    border: 1px solid #000000;
    margin-left: 40px;

}

.div-picture {
    max-width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.main-description-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.main-description-1 {
    margin-top: 37px;
    margin-left: 40px;
}

.main-description-2 {
    margin-top: 34px;
    margin-left: 40px;
}


.footer-list {
    background: rgba(99, 105, 110, 0.48);
    padding: 30px 25px;
    margin: 54px 100px 30px 100px;
}

.footer-list li a {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right: 30px;
}

.footer-list-span {
    margin-left: 130px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

